.cringe {
  height: 1000px;
  background-size:cover;
  background-position:50%;
  background-image: 
url("https://github.com/Nagatochyan/.../assets/94958239/63122460-cc5d-4301-b00a-954a088749ca");

}
